.landing-cover {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-button {
  min-width: 9rem;
  margin: 1rem auto;
  padding: 0.5rem 2rem;
  background-color: white;
  border: 2px solid var(--color-medium-orange);
  color: var(--color-medium-orange);
  text-align: center;
  border-radius: 0.4rem;
}

.landing-button:hover {
  text-decoration: none;
  background-color: var(--color-medium-orange);
  color: white;
  border: 2px solid var(--color-medium-orange);
}

.landing-logo {
  max-width: 8rem;
  margin: 2rem auto 0.5rem auto;
  animation: logo-spin 8s infinite 0s cubic-bezier(0.38, 0.01, 0, 0.99);
  display: block;
}

@keyframes logo-spin {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
