.landing-cards{
    margin: 1rem 6rem;
    padding: 2rem 0;
    display: flex;
    border-top: var(--border-grey);
    border-bottom: var(--border-grey);
}

.landing-card{
    display: inline;
    margin: 0 1rem;
}

.landing-icon{
    max-width: 3rem;
    margin-left: 2rem;
}

@media(max-width: 1000px){
    .landing-cards{
        flex-direction: column;
        margin: 1rem 3rem;
    } 
    .landing-card{
        margin: 1rem 0rem;
    }
}