.navbar {
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: var(--border-grey);
  min-height: 3rem;
  padding: 0 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
}

.navbar-logo{
  max-width: 2rem;
  animation: logo-spin 20s infinite 0s cubic-bezier(0.38, 0.01, 0, 0.99);
}

@keyframes logo-spin {
  100% {
    transform: rotate(360deg);
  }
}
