.sidebar{
    position: fixed;
    top: 3rem;
    bottom: 0;
    min-width: 15rem;
    max-height: 100vh;
    padding: 2rem;
    border-right: var(--border-grey);
    overflow-y: auto;
    visibility: visible;
    background-color: white;
}

@media(max-width: 1000px){
    .sidebar{
        visibility: collapse;
    }
}

.sidebar > ul > li {
    margin-bottom: 1.5rem;
}

.sidebar-bullets{
    color: var(--color-dim-grey);
    margin: 1.2rem 0 0 2rem;
}